@CHARSET "UTF-8";

.mainContent {
	width: 100%;
}

.toolbarBox {
	background-color: #EEEEEE;
	width: 100%;
}

.closeQuery {
	height: 20px;
	text-align: center;
	cursor: pointer;
}

.pageBox {
	text-align: center;
	bottom: 0px;
}

.navbar-brandText {
	color: #FFFFFF;
	font-family: 微软雅黑;
	font-size: 22px;
	line-height: 40px;
	margin-left: 10px;
}

.sortableLine {
	cursor: move;
}

.page-title1 {
	font-family: 微软雅黑;
}

.toolbarBox .queryLine:nth-child(even) {
	background-color: #FFFFFF;
}

.queryLine {
	padding-top: 2px;
	padding-bottom: 2px;
}

.queryTitle {
	font-family: 微软雅黑;
}

.queryLine>.queryTitle {
	margin-left: 5%;
	width: 90%;
	text-align: left;
}

.form_date {
	cursor: text !important;
}

.input-long {
	width: 200px;
}

.input-longPlus {
	width: 500px;
}

.middleSpan {
	margin-left: 6px;
	margin-right: 6px;
}

.role>span {
	display: inline;
	color: #000000;
	border: 1px solid #4d90fe;
	background-color: #FFFFFF;
	cursor: default;
	line-height: 24px;
	word-break: keep-all;
	padding: 0 2px 0 2px;
	margin: 0 0 0 4px;
	font-size: 13px !important;
}

.msgTable {
	width: 100%;
	display: table;
}

.msg {
	font-size: 20px;
	cursor: default;
	display: table-row;
	border-collapse: collapse;
}

.msgItem {
	font-size: 12pt;
	display: table-cell;
	text-align: center;
	border: 1px solid #EEEEEE;
}

.msgItem:first-child {
	border-left: 0 !important;
}

.msgItem.content {
	text-align: left;
	width: 300px;
	max-height: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.msgHeader {
	text-align: center;
	background-color: #1570a6 !important;
	font-family: 微软雅黑;
	color: #FFFFFF;
	height: 30px !important;
}

.msgTable .msg:nth-child(odd) {
	background-color: #EEEEEE;
}

.msgTable .msg:nth-child(even) {
	background-color: #FFFFFF;
}

#openMsg {
	font-size: 18px;
}

#msgBox>div:nth-child(odd) {
	background-color: #EEEEEE;
}

#msgBox>div:nth-child(even) {
	background-color: #FFFFFF;
}

.msgSponsorContent {
	border: 1px solid #999999;
}

.msgSponsorContent>div:first-child {
	background-color: #3c9dff !important;
}

.msgTitle {
	font-family: 微软雅黑;
	line-height: 24px;
	margin-left: 5px;
}

.contentTitle {
	font-family: 楷体;
	font-size: 18px;
}

.submissionBox {
	width: 98%;
	border: 1px solid #EEEEEE;
	margin-top: 10px;
}

.submissionTitle {
	background-color: #EEEEEE !important;
}

.msgContentBox {
	margin: 0 1% 0 1% !important;
	border: 1px solid #EEEEEE;
}

.submissionTitle>span {
	font-family: 黑体 !important;
	font-size: 17px;
}

.middleTitle {
	text-align: center;
}

.middleTitle2 {
	padding: 0 1% 0 1% !important;
}

#goback {
	text-align: center;
}

.uploadTitle {
	font-family: 微软雅黑;
	display: block;
	background-color: #EEEEEE;
}

#uploadBox>div {
	padding: 2px 0 2px 0;
	background-color: #FFFFFF;
}

.uploadButton {
	text-align: center;
}

.uploadItem {
	width: 90%;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}

.navigationBar {
	font-size: 12pt;
	font-family: '微软雅黑';
	color: #222222;
	padding-left: 10px;
	background-color: #DDDDDD;
}

.navigationBar>span {
	display: inline-block;
	margin-left: 10px;
}

.navigationItem {
	background-color: #FFFFFF;
	padding: 1px 5px 1px 5px;
}

.searchUser {
	width: 50%;
	display: inline;
}

.searchBox {
	width: 90%;
	display: inline;
}

#searchBut {
	display: inline;
}

.userTable {
	display: table;
	width: 100%;
	font-size: 20px;
	margin-top: 10px;
}

.userRow {
	display: table-row;
	border-bottom: 2px solid #FFFFFF;
	line-height: 34px;
}

.userTable .userRow:NTH-CHILD(odd) {
	background-color: #FFFFFF;
}

.userTable .userRow:NTH-CHILD(odd) {
	background-color: #EEEEEE;
}

.userItem {
	display: table-cell;
	border-left: 2px solid #FFFFFF;
	text-align: center;
}

.userHeader {
	background-color: #1570a6 !important;
	font-family: 微软雅黑;
	color: #FFFFFF;
	text-align: center;
}

.msgTable .msg:nth-child(odd) {
	background-color: #EEEEEE;
}

.msgTable .msg:nth-child(even) {
	background-color: #FFFFFF;
}

.infoMethod {
	background-color: #1570a6;
	font-family: 微软雅黑;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
}

.infoMethod ~ div {
	font-family: 微软雅黑;
	font-size: 18px;
	background-color: #FFFFFF;
	margin-top: 2px;
	margin-bottom: 2px;
}

.infoMethod ~ div>span {
	display: block;
	width: 100%;
}

.infoMethod ~ div>span:nth-child(1) {
	background-color: #EEEEEE;
}

.infoMethod ~ div>span:nth-child(1) ~ span {
	padding-left: 5%;
	padding-right: 5%;
	font-family: 宋体;
	font-size: 18px;
}

.infoButton {
	text-align: center;
}

.infoButton button {
	display: inline;
}

.clickable {
	cursor: pointer;
}

.codeForm {
	
}

.codeHide {
	display: none;
}

.resultMsg {
	font-size: 14px !important;
	font-family: 黑体;
	text-align: center;
}

.singleFormGroup {
	font-size: 18px !important;
	font-family: 微软雅黑;
	width: 100%;
}

.singleFormGroup>div:nth-child(even) {
	background-color: #EEEEEE;
}

.singleFormGroup>div:nth-child(odd) {
	background-color: #FFFFFF;
	padding-left: 5%;
	padding-right: 5%;
}

.singleFormGroup>div:last-child {
	background-color: #FFFFFF !important;
	text-align: center;
}

.multipleList {
	padding-left: 5%;
	padding-right: 5%;
}

.multipleList-row {
	margin-top: 4px;
	margin-bottom: 4px;
	border: 2px solid #EEEEEE;
	border-radius: 5px !important;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
	font-family: 微软雅黑;
	color: #EEEEEE;
	background-color: #1570a6;
}

.multipleList-row-ps {
	padding-left: 5%;
	padding-right: 5%;
	background-color: #EEEEEE
}

.multipleList-row-but {
	text-align: center;
}

.alertBorder {
	border-color: red;
}

.multipleFormTable {
	text-align: center;
	font-size: 16px;
	font-family: 微软雅黑;
}

.multipleFormAdd {
	text-align: center;
	font-size: 13px;
}

.multipleFormFooter {
	text-align: center;
}

.multipleFormMsg {
	font-size: 13px;
	text-align: left;
}

.multipleFormHeader {
	text-align: center;
	background-color: #1570a6;
	color: #EEEEEE;
}

.multipleFormRow {
	margin-top: 4px;
	margin-bottom: 4px;
	border: 2px solid #EEEEEE;
	border-radius: 5px !important;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e7e7e7;
}

.multipleFormRow input {
	font-size: 12px;
}

.multipleFormRow select {
	font-size: 12px;
}

.col-xs-2-3, .col-sm-2-3, .col-md-2-3, .col-lg-2-3, .col-xs-9-10,
	.col-sm-9-10, .col-md-9-10, .col-lg-9-10 {
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.col-xs-2-3 {
	width: 21%;
	float: left;
}

.col-xs-9-10 {
	width: 79%;
	float: left;
}

@media ( min-width : 768px) {
	.col-sm-2-3 {
		width: 21%;
		float: left;
	}
}

@media ( min-width : 992px) {
	.col-md-2-3 {
		width: 21%;
		float: left;
	}
}

@media ( min-width : 1200px) {
	.col-lg-2-3 {
		width: 21%;
		float: left;
	}
}

@media ( min-width : 768px) {
	.col-sm-9-10 {
		width: 79%;
		float: left;
	}
}

@media ( min-width : 992px) {
	.col-md-9-10 {
		width: 79%;
		float: left;
	}
}

@media ( min-width : 1200px) {
	.col-lg-9-10 {
		width: 79%;
		float: left;
	}
}

.col-sm-1-16, .col-sm-2-16, .col-sm-3-16, .col-sm-4-16, .col-sm-5-16,
	.col-sm-6-16, .col-sm-7-16, .col-sm-8-16, .col-sm-9-16, .col-sm-10-16,
	.col-sm-11-16, .col-sm-12-16, .col-sm-13-16, .col-sm-14-16,
	.col-sm-15-16, .col-sm-16-16, .col-md-1-16, .col-md-2-16, .col-md-3-16,
	.col-md-4-16, .col-md-5-16, .col-md-6-16, .col-md-7-16, .col-md-8-16,
	.col-md-9-16, .col-md-10-16, .col-md-11-16, .col-md-12-16,
	.col-md-13-16, .col-md-14-16, .col-md-15-16, .col-md-16-16,
	.col-lg-1-16, .col-lg-2-16, .col-lg-3-16, .col-lg-4-16, .col-lg-5-16,
	.col-lg-6-16, .col-lg-7-16, .col-lg-8-16, .col-lg-9-16, .col-lg-10-16,
	.col-lg-11-16, .col-lg-12-16, .col-lg-13-16, .col-lg-14-16,
	.col-lg-15-16, .col-lg-16-16 {
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media ( min-width : 768px) {
	.col-sm-1-16 {
		width: 6.25%;
		float: left;
	}
	.col-sm-2-16 {
		width: 12.5%;
		float: left;
	}
	.col-sm-3-16 {
		width: 18.75%;
		float: left;
	}
	.col-sm-4-16 {
		width: 25%;
		float: left;
	}
	.col-sm-5-16 {
		width: 31.25%;
		float: left;
	}
	.col-sm-6-16 {
		width: 37.5%;
		float: left;
	}
	.col-sm-7-16 {
		width: 43.75%;
		float: left;
	}
	.col-sm-8-16 {
		width: 50%;
		float: left;
	}
	.col-sm-9-16 {
		width: 56.25%;
		float: left;
	}
	.col-sm-10-16 {
		width: 62.5%;
		float: left;
	}
	.col-sm-11-16 {
		width: 68.75%;
		float: left;
	}
	.col-sm-12-16 {
		width: 75%;
		float: left;
	}
	.col-sm-13-16 {
		width: 81.25%;
		float: left;
	}
	.col-sm-14-16 {
		width: 87.5%;
		float: left;
	}
	.col-sm-15-16 {
		width: 93.75%;
		float: left;
	}
	.col-sm-16-16 {
		width: 100%;
		float: left;
	}
}

@media ( min-width : 992px) {
	.col-md-1-16 {
		width: 6.25%;
		float: left;
	}
	.col-md-2-16 {
		width: 12.5%;
		float: left;
	}
	.col-md-3-16 {
		width: 18.75%;
		float: left;
	}
	.col-md-4-16 {
		width: 25%;
		float: left;
	}
	.col-md-5-16 {
		width: 31.25%;
		float: left;
	}
	.col-md-6-16 {
		width: 37.5%;
		float: left;
	}
	.col-md-7-16 {
		width: 43.75%;
		float: left;
	}
	.col-md-8-16 {
		width: 50%;
		float: left;
	}
	.col-md-9-16 {
		width: 56.25%;
		float: left;
	}
	.col-md-10-16 {
		width: 62.5%;
		float: left;
	}
	.col-md-11-16 {
		width: 68.75%;
		float: left;
	}
	.col-md-12-16 {
		width: 75%;
		float: left;
	}
	.col-sm-13-16 {
		width: 81.25%;
		float: left;
	}
	.col-md-14-16 {
		width: 87.5%;
		float: left;
	}
	.col-md-15-16 {
		width: 93.75%;
		float: left;
	}
	.col-md-16-16 {
		width: 100%;
		float: left;
	}
}

@media ( min-width : 1200px) {
	.col-lg-1-16 {
		width: 6.25%;
		float: left;
	}
	.col-lg-2-16 {
		width: 12.5%;
		float: left;
	}
	.col-lg-3-16 {
		width: 18.75%;
		float: left;
	}
	.col-lg-4-16 {
		width: 25%;
		float: left;
	}
	.col-lg-5-16 {
		width: 31.25%;
		float: left;
	}
	.col-lg-6-16 {
		width: 37.5%;
		float: left;
	}
	.col-lg-7-16 {
		width: 43.75%;
		float: left;
	}
	.col-lg-8-16 {
		width: 50%;
		float: left;
	}
	.col-lg-9-16 {
		width: 56.25%;
		float: left;
	}
	.col-lg-10-16 {
		width: 62.5%;
		float: left;
	}
	.col-lg-11-16 {
		width: 68.75%;
		float: left;
	}
	.col-lg-12-16 {
		width: 75%;
		float: left;
	}
	.col-lg-13-16 {
		width: 81.25%;
		float: left;
	}
	.col-lg-14-16 {
		width: 87.5%;
		float: left;
	}
	.col-lg-15-16 {
		width: 93.75%;
		float: left;
	}
	.col-lg-16-16 {
		width: 100%;
		float: left;
	}
}

.row0 {
	margin-right: 0px !important;
    margin-left: 0px !important;
}

.butRow {
	text-align: center;
}

.tableRow {
	border-top: 1px solid #DDDDDD;
	border-collapse: collapse;
}

.tableRow label {
	background-color: #DDDDDD;
	padding-bottom: 7px;
	text-align: center !important;
}

.tableRow .innerLabel {
	border-left: 1px solid #FFFFFF;
	border-reght: 1px solid #FFFFFF;
	border-collapse: collapse;
	background-color: #DDDDDD;
	text-align: center;
}

.smForm {
	font-size: 12px;
}
