<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gdin.dzzwsyb.ngsy.web.dao.TechnicalTitleMapper">
	<resultMap id="BaseResultMap"
		type="com.gdin.dzzwsyb.ngsy.web.model.TechnicalTitle">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="person_id" jdbcType="VARCHAR"
			property="personId" />
		<result column="technical_title" jdbcType="VARCHAR"
			property="technicalTitle" />
		<result column="own_date" jdbcType="TIMESTAMP"
			property="ownDate" />
		<result column="job_date" jdbcType="TIMESTAMP"
			property="jobDate" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, person_id, technical_title, own_date, job_date
	</sql>
	<select id="selectByExample"
		parameterType="com.gdin.dzzwsyb.ngsy.web.model.TechnicalTitleExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from technical_title
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from technical_title
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from technical_title
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.gdin.dzzwsyb.ngsy.web.model.TechnicalTitleExample">
		delete from technical_title
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.gdin.dzzwsyb.ngsy.web.model.TechnicalTitle">
		insert into technical_title (id, person_id, technical_title,
		own_date, job_date)
		values (#{id,jdbcType=VARCHAR}, #{personId,jdbcType=VARCHAR},
		#{technicalTitle,jdbcType=VARCHAR},
		#{ownDate,jdbcType=TIMESTAMP}, #{jobDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
		parameterType="com.gdin.dzzwsyb.ngsy.web.model.TechnicalTitle">
		insert into technical_title
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="personId != null">
				person_id,
			</if>
			<if test="technicalTitle != null">
				technical_title,
			</if>
			<if test="ownDate != null">
				own_date,
			</if>
			<if test="jobDate != null">
				job_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="personId != null">
				#{personId,jdbcType=VARCHAR},
			</if>
			<if test="technicalTitle != null">
				#{technicalTitle,jdbcType=VARCHAR},
			</if>
			<if test="ownDate != null">
				#{ownDate,jdbcType=TIMESTAMP},
			</if>
			<if test="jobDate != null">
				#{jobDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.gdin.dzzwsyb.ngsy.web.model.TechnicalTitleExample"
		resultType="java.lang.Long">
		select count(*) from technical_title
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update technical_title
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.personId != null">
				person_id = #{record.personId,jdbcType=VARCHAR},
			</if>
			<if test="record.technicalTitle != null">
				technical_title = #{record.technicalTitle,jdbcType=VARCHAR},
			</if>
			<if test="record.ownDate != null">
				own_date = #{record.ownDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.jobDate != null">
				job_date = #{record.jobDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update technical_title
		set id = #{record.id,jdbcType=VARCHAR},
		person_id = #{record.personId,jdbcType=VARCHAR},
		technical_title = #{record.technicalTitle,jdbcType=VARCHAR},
		own_date = #{record.ownDate,jdbcType=TIMESTAMP},
		job_date = #{record.jobDate,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.gdin.dzzwsyb.ngsy.web.model.TechnicalTitle">
		update technical_title
		<set>
			<if test="personId != null">
				person_id = #{personId,jdbcType=VARCHAR},
			</if>
			<if test="technicalTitle != null">
				technical_title = #{technicalTitle,jdbcType=VARCHAR},
			</if>
			<if test="ownDate != null">
				own_date = #{ownDate,jdbcType=TIMESTAMP},
			</if>
			<if test="jobDate != null">
				job_date = #{jobDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.gdin.dzzwsyb.ngsy.web.model.TechnicalTitle">
		update technical_title
		set person_id = #{personId,jdbcType=VARCHAR},
		technical_title = #{technicalTitle,jdbcType=VARCHAR},
		own_date = #{ownDate,jdbcType=TIMESTAMP},
		job_date = #{jobDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>